.mid {
  /* margin: 82px 30px; */
  margin: 50px 0;
  text-align: center;
  background-color: cadetblue;
}

.heading {
  text-align: center;
}

.domain {
  cursor: pointer;
  text-decoration: none;
  /* display: block; */
  margin: 10px;
  color: black;
  font-size: 25px;
}

.fix-mid-top {
  position: fixed;
  top: 0;
}
.mid button {
  padding: 10px 2px;
}

.domain img {
  height: 5%;
  width: 5%;
}