.mid {
  /* margin: 82px 30px; */
  margin: 50px 0;
  text-align: center;
  background-color: rgb(34, 139, 122);
}

.heading {
  text-align: center;
}

.domain {
  cursor: pointer;
  text-decoration: none;
  /* display: block; */
  margin: 10px;
  color: black;
  font-size: 30px;
}

.fix-mid-top {
  position: fixed;
  top: 0;
}
.mid button {
  padding: 10px 2px;
}

.domain img {
  height: 5%;
  width: 5%;
}
.search-here{
  width: 20%;
  margin: 50px auto;
}
.btn:hover{
  box-shadow: 0 12px 16px 0
  rgba(0,0,0,0,0.24),0 17px 50px 0
  rgba(0,0,0,0,0.19);
}
.btn-secondary{
  border: none;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 10%;
  width: 80px;
}
.btn-primary{
  border:darkslategrey;
  border-radius: 10%;
  width: 110px;
  background-color: rgb(38, 93, 107);
}
